<div id="main" class="d-flex justify-content-center align-items-center">
    <div class="bg-white rounded-3 col-xl-5 col-lg-6 col-md-8 col-sm-9 col-10 shadow">
        <form class="p-5">
            <h4 class="text-center">Iniciar Sesión</h4>
            <label class="my-3" for="txtUsername">Usuario</label>
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <i class="input-group-text bi bi-person text-icon"></i>
                </div>
                <input id="txtUsername" type="text" class="form-control" placeholder="Usuario">
            </div>
            <label class="my-3" for="txtPassword">Clave</label>
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <i class="input-group-text bi bi-key text-icon"></i>
                </div>
                <input id="txtPassword" type="password" class="form-control" placeholder="clave">
            </div>
            <div class="form-group my-3 ml-1">
                <input type="checkbox" value="1" id="remember" name="remember"> Recordar Usuario
            </div>
            <div class="d-flex justify-content-end">
                <a id="link" href="/">¿Olvido su clave?</a>
            </div>
            <div class="d-flex justify-content-center my-3">
                <button type="submit" class="mx-1 btn btn-primary">
                    <i class="bi bi-box-arrow-in-right"></i> Iniciar Sesión
                </button>
                <button type="button" class="mx-1 btn btn-secondary">
                    <i class="bi bi-person-add"></i> Registrarse
                </button>
            </div>
        </form>
    </div>
</div>